* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-1: #2C3930;
  --bg-color-2: #f6e9d9;
  --bg-color-3: #333;
  --border-color-1: #3F4F44;
  --color-1: #DCD7C9;
  --green-btn: #28a745;
  --red-btn: #f44336;
  --blue-btn: #007bff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color-1);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.heading-1 {
  font-weight: bold;
  font-size: 4rem;
}

.text {
  color: var(--color-1);
}

.input__box__container {
  position: relative;
  display: inline-block;
}

.input__box {
  border: 2px solid var(--border-color-1);
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 500px;
  font-size: 1.5rem;
  color: var(--color-1);
  padding: 30px;
  padding-right: 35px;
  cursor: default;
  background-color: var(--bg-color-1);
  text-overflow: ellipsis;
}

.refresh__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.copy__btn {
  margin-left: 10px;
  padding: 10px 20px;
  color: white;
  font-size: large;
  border: 2px solid var(--border-color-1);
  border-radius: 10px;
  background-color: var(--bg-color-1)
}

.copy__btn:hover {
  cursor: pointer;
}

.pass__range__input__container {
  display: flex;
  gap: 30px;
}

.check__box__container {
  display: flex;
  gap: 30px;
}

.check__box__container label {
  font-size: 1.8rem;
  padding: 15px;
  color: var(--color-1);
}

.check__box__container input[type="checkbox"] {
  transform: scale(2);
}

/* auth Page CSS */
.login__container {
  background-color: var(--bg-color-2);
  max-width: 600px;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.login__form__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.login__form__container .MuiTextField-root {
  width: 70%;
}

.MuiInputBase-input {
  margin: 0 !important;
}

.login__form__container button {
  padding: 0.75rem;
  background-color: var(--bg-color-1);
  color: var(--bg-color-2);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
}

.forgotpassword__link {
  width: 70%;
  text-align: left;
  margin-top: -15px;
}

.forgotpassword__link a {
  text-decoration: none;
  color: var(--bg-color-3);

}

.login__form__container button:hover {
  background-color: var(--bg-color-3);
}

.auth__heading {
  text-align: center;
  color: var(--bg-color-1)
}

.alert__err {
  width: 70%;
  text-align: start;
  color: red;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

/* Auth Links */
.account__container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.auth__link {
  text-decoration: none;
  color: var(--bg-color-2);
}


/* Profile */

.account__details {
  margin: 30px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--bg-color-2);
}

.user__avatar {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.user__name {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 800;
}

.user__desc {
  font-size: 1.3em;
  font-weight: 600;
}

.profile__main {
  height: inherit;
  /* align-items: start; */
  width: 50%;
}

.profile__sub__categories {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}


/* Profile Component CSS */
.profile__categories__container {
  width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid var(--bg-color-2);
  color: var(--bg-color-2);
  cursor: pointer;
}


/* Profile/ManageAccount */
.manage__acc {
  margin-top: 50px;
}

.form__profile {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1em;
}

.profile__action__btn__sec {
  text-align: end;
}

.action__btn {
  padding: 8px 20px;
  margin: 0px 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--bg-color-2)
}

.action__btn#edit {
  background-color: var(--blue-btn);
}

.action__btn#cancel {
  background-color: var(--red-btn);
}

.action__btn#save {
  background-color: var(--green-btn);
}

/* Manage Passwords */
.manage__pass__navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

/* .pass__search {
  background-color: #f44336;
} */

.pass__btn__sec {
  margin: auto 0;
}

.action__btn#add {
  background-color: var(--blue-btn);
}

.password__card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  justify-content: space-evenly;
}

/* Password Card Component Css */
.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--bg-color-2);
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  gap: 10px;
}

.card__heading {
  width: 80%;
  color: var(--color-1);
}

.card__action__btns {
  display: flex;
  width: 85%;
  justify-content: end;
}


/* Media Queries */

@media screen and (max-width: 540px) {
  .login__container {
    max-width: 300px;
    height: 400px
  }
}

@media screen and (min-wdth: 540px) {}

@media screen and (min-width: 720px) {}

@media screen and (min-width: 997px) {}

@media screen and (min-width: 1200px) {}