* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2C3930;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.heading-1 {
  font-weight: bold;
  font-size: 4rem;
}

.text {
  color: #DCD7C9;
}

.input__box__container {
  position: relative;
  display: inline-block;
}

.input__box {
  border: 2px solid #3F4F44;
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 500px;
  font-size: 1.5rem;
  color: #DCD7C9;
  padding: 30px;
  padding-right: 35px;
  cursor: default;
  background-color: #2C3930;
  text-overflow: ellipsis;
}

.refresh__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.copy__btn {
  margin-left: 10px;
  padding: 10px 20px;
  color: white;
  font-size: large;
  border: 2px solid #3F4F44;
  border-radius: 10px;
  background-color: #2C3930
}

.copy__btn:hover {
  cursor: pointer;
}

.pass__range__input__container {
  display: flex;
  gap: 30px;
}

.check__box__container {
  display: flex;
  gap: 30px;
}

.check__box__container label {
  font-size: 1.8rem;
  padding: 15px;
  color: #DCD7C9;
}

.check__box__container input[type="checkbox"] {
  transform: scale(2);
}

/* auth Page CSS */
.login__container {
  background-color: #f6e9d9;
  max-width: 600px;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.login__form__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.login__form__container .MuiTextField-root {
  width: 70%;
}

.MuiInputBase-input {
  margin: 0 !important;
}

.login__form__container button {
  padding: 0.75rem;
  background-color: #2C3930;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
}

.forgotpassword__link {
  width: 70%;
  text-align: left;
  margin-top: -15px;
}

.forgotpassword__link a {
  text-decoration: none;
  color: #333;

}

.login__form__container button:hover {
  background-color: #333;
}

.auth__heading {
  text-align: center;
  color: #2C3930
}

.alert__err {
  width: 70%;
  text-align: start;
  color: red;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

/* Auth Links */
.account__container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.auth__link {
  text-decoration: none;
  color: #f6e9d9;
}


/* Profile */

.profile__main{
  height: inherit;
  align-items: start;
  width: 50%;
}

.profile__sub__categories{
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}


/* Profile Component CSS */
.profile__categories__container {
  width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid #f6e9d9;
  color: #f6e9d9;
  cursor: pointer;
}



/* Media Queries */

@media screen and (max-width: 540px) {
  .login__container {
    max-width: 300px;
    height: 400px
  }
}

@media screen and (min-wdth: 540px) {}

@media screen and (min-width: 720px) {}

@media screen and (min-width: 997px) {}

@media screen and (min-width: 1200px) {}