* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2C3930;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.heading-1 {
  font-weight: bold;
  font-size: 4rem;
}

.text {
  color: #DCD7C9;
}

.input__box__container {
  position: relative;
  display: inline-block;
}

.input__box {
  border: 2px solid #3F4F44;
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 500px;
  font-size: 1.5rem;
  color: #DCD7C9;
  padding: 30px;
  padding-right: 35px;
  cursor: default;
}

.refresh__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.check__box__container{
  display: flex;
  gap: 30px;
}

.check__box__container label{
  font-size: 1.8rem;
  padding: 15px;
  color: #DCD7C9;
}

.check__box__container input[type="checkbox"]{
  transform: scale(2);
}
